body{
  background-color: #1E3DE3;
}

.container{
  color: #ffffff;
  width: 400px;
  height: 400px;
  position: absolute;
  font-family: 'Helvetica';
  font-size: 40px;
 top: 50%;
 left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}
